<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReportGenerator.Properties.Settings>
            <setting name="ConfigurationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigurationProfileDirectory" serializeAs="String">
                <value>D:\excel\</value>
            </setting>
        </ReportGenerator.Properties.Settings>
    </applicationSettings>
</configuration>